


.social-media{
  height: 20px;
  width: 20px;
  padding:10px;
}

.align-right {
  text-align: right;
  float: right;

}

.align-left {
  float: left;
}

}


.navbar {
  float: left;
}

.img-responsive {
  max-height: auto;
  max-width: 100%;
}

footer {
  background-color: #626872;
  max-width: 100%;
  max-height: 20px;
  margin: 20px;
}
