
body {
  background-color: #F9F3E7;
  font-family: 'Special Elite', cursive;
}


.social-media{
  height: 20px;
  width: 20px;
  padding:10px;
}

.align-right {
  text-align: right;
  float: right;

}

.align-left {
  float: left;
}


.img-responsive {
  max-height: auto;
  max-width: 100%;
  z-index: 1;
}

.navbar {
  background-color: #f7edd9;
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
  z-index: 2;
  position: relative;
}


.sub-title {

  border-top: 0.35rem solid #242122;
  border-bottom: 0.35rem solid #242122;
  margin: 1rem;
  padding: 0.25em 0rem;
  max-width: 30rem;
  text-align: center;
  box-sizing: border-box;


}

.footer {
  background-color: #eaddc5;
  padding: 2%;

}



.question {
  font-family:'Merriweather Sans', sans-serif;
  font-weight: bold;
}

@media (min-width: 550px) {
  .container{
    width: 80%;
    }
    .desktop-align-center{
      text-align: center;
      position: relative;
      z-index: 1;
    }
  .sub-title {
    margin: 2rem auto;
    padding: 0.25em 0rem;
    max-width: 10em;
    text-align: center;
    box-sizing: border-box;
  }

  .footer {
    position: relative;
    padding: 1%;
    max-width: auto;
    z-index: 0;



  }
  .extra1 {
    background-color: #e0ceac;
    bottom: 0;
    right: 5%;
    position: fixed;
    top: 0;
    width: 35%;
    z-index: -1;
}
    .extra2 {
      background-color: #f7edd9;
      bottom: 0;
      top: 0;
      left: 0;
      position: absolute;
      width: 25%;
      z-index: 0;


  }
}
