body {
  margin: 0;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 20px;
  flex: 1;
}

header {
  background-color: #4e799dff;
  padding: 20px;
}

footer {
  background-color: #4e799dff;
  color: white;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
}
nav > a {
  color: white;
}
nav > a:visited {
  color: white;
}
.nav-header > a {
  color: white;
}
.nav-header > a:visited {
  color: white;
}

.header-link.current-page {
  color: #06fffb;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero p {
  width: 80%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 40px;
}

.hero h1 {
  text-align: center;
}
